
.headerArea{
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    padding: 0 30px;
    z-index:  999;
    border-bottom: #909090ad;
    /* background: #142440; */
}
.headerContainer{
    width: 100%;
    margin: auto;
    display: table;
}
.siteLogo{
    float: left;
    padding: 9px 0px;
    position: relative;
}
.siteLogo img{
    height: 100%;
    width: 100%;
    padding: 10px 30px;
    opacity: 0.5;
    border-radius: 30px;
    background: repeating-linear-gradient(45deg, #ffff, transparent 100px);
}
.mobileNav{
    display: none;
}
.siteNavMenu{
    float: right;
    display: flex;
    flex-direction: row;
}
.PrimaryMenue{
    list-style: none;
    margin: 0;
    padding: 0;
}
.PrimaryMenue li{
    display: inline-block;
    margin: 21px 5px;
}
/* .userMenue li{
    border: 2px solid white;
    border-radius: 16px;
} */
.PrimaryMenue a{
    color:#fff;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 0;
    transition: .5s;
}
.PrimaryMenue a i{
    padding: 5px;
    border: 2px solid white;
    border-radius: 50%;
    font-weight: 500;
}
.PrimaryMenue a:hover, .PrimaryMenue .active{
    color:#ff4a44;
}
.PrimaryMenue li a:after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #ff4a44;
    bottom: 0px;
    left: 0px;
    transition: all .5s;
}
.PrimaryMenue li a:hover:after{
    width: 100%;
}
.PrimaryMenue li .active:after{
    width: 100%;
}
.mobileNav{
    float: right;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    color: #fff;
    outline: none;
    cursor: pointer;
    display: none;
}

/* Responsive css */

@media only screen and (max-width: 900px){
    .headerArea{
        padding: 0 10px !important; 
    }
    .headerContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .siteNavMenu{
        display: flex;
        flex-direction: column;
        float: none;
        position: absolute;
        background: #142440;
        width: 50%;
        right: 0;
        top: 73px;
        padding: 30px 0px;
        border-top: 1px solid #4a4848;
        clip-path: circle(0% at 100% 0% );
        transition: all .8s;
        z-index: 9999;
    }
    .siteLogo img{
        width: 75%;
        background: repeating-linear-gradient(45deg, #ffff, transparent 50%);
        padding: 8px 20px;
    }
    .PrimaryMenue li{
        display: block;
        text-align: center;
        margin: 25px 5px;        
    }
    .mobileNav{
        display: block;
    }
    .mobileMenu{
        clip-path: circle(150% at 100% 0%);
    }
    .PrimaryMenue li a:after{
        display: none;
    }
}
